.menu{
    display: flex;
    justify-content: center;
    gap: 20px;
    background: #222;
    padding: 15px;

}

.menu a{
    color: white;
    text-decoration: none;
}

@media (max-width: 768px){
    .menu{
        flex-direction: column;
        align-items: center;
    }
}